<h1 align="center">🤵‍♂️ADMIN LOGIN🤵‍♂️</h1>
<form method="post">
    <table border="3" cellpadding="0" align="center">
        <tr>
            <td>EMAIL:</td>
            <td><input type="email" name="email"  placeholder="ENTER THE EMAIL"/></td>
        </tr>
        <tr>
            <td>PASSWORD:</td>
            <td><input type="password" name="password" placeholder="ENTER THE PASSWORD"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="save"  style="text-decoration: none; border: 2px solid violet; background-color: blanchedalmond; font-size: medium; padding: 5px; color: black; margin-top: 2px; margin-bottom: 2px;"/>
            </td>
         </tr>
    </table>
</form>