<table cellspacing="2" align="center" style="margin-top: 20px; margin-bottom: 20px;">
    <tr>
        <td><a href="/user_register" style="text-decoration: none; border: 2px solid violet; background-color: blanchedalmond; font-size: medium; padding: 5px; color: black;">ADD USER</a></td>
        <td><a href="/add_task"  style="text-decoration: none; border: 2px solid violet; background-color: blanchedalmond; font-size: medium; padding: 5px; color: black;">ADD TASK</a></td>
        <td><a href="/manage_user"  style="text-decoration: none; border: 2px solid violet; background-color: blanchedalmond; font-size: medium; padding: 5px; color: black;">MANAGE USER</a></td>
        <td><a href="/admin"  style="text-decoration: none; border: 2px solid violet; background-color: blanchedalmond; font-size: medium; padding: 5px; color: black;">LOGOUT</a></td>
    </tr>
</table>