<h1 align="center">🔐USER LOGIN 🔐</h1>
<form method="post">
        <table border="3" cellpadding="0" align="center">
            <tr>
                <td>EMAIL:</td>
                <td><input type="text" name="email" id=""  placeholder="ENTER THE EMAIL"></td>
            </tr>
            <tr>
                <td>PASSWORD:</td>
                <td><input type="password" name="password" id=""  placeholder="ENTER THE password"></td>
            </tr>
            <tr>
                <td colspan="2"  align="center"><input type="submit" name="submit"  style="text-decoration: none; border: 2px solid violet; background-color: blanchedalmond; font-size: medium; padding: 5px; color: black; margin-top: 2px; margin-bottom: 2px;"/></td>

            </tr>
        </table>
</form>